<section class="section">
    <h1 class="title">L'avis de nos visiteurs</h1>
            <% Riad.forEach((avis) => { %>
            <div class="columns is-desktop">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                        <div class="content">
                            <h4>Levis</h1>
                        <%= avis %>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
            <div class="field">
                <label class="label">Pseudo</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Mr Smith">
                </div>
              </div>
              
              <div class="field">
                <div class="control">
                  <input class="input" type="text" placeholder="Laisser un avis....">
                </div>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button is-success">
                    Envoyer
                  </button>
                </p>
              </div>
</section>