<section class="hero is-success is-large">
    <div class="container has-text-centered">
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
              <div class="container">
                <ul>
                  <li class="">
                    <a href="http://localhost:5500/employe/alimentation">Alimentation</a>
                  </li>
                  <li>
                    <a href="http://localhost:5500/employe/seremp">Service</a>
                  </li>
                  <li>
                    <a href="http://localhost:5500/employe/avis">Avis</a>
                  </li>
                  <li class="is-active">
                    <a href="http://localhost:5500/">Page d'accueil</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
    </div>
</section>