<section class="hero is-success is-large">
        <div class="container has-text-centered">
            <div class="hero-foot">
                <nav class="tabs is-boxed is-fullwidth">
                  <div class="container">
                    <ul>
                      <li class="">
                        <a href="/admin/user">Utilisateur</a>
                      </li>
                      <li class="">
                        <a href="/admin/service">Service</a>
                      </li>
                      <li class="">
                        <a href="/admin/horaire">Horaire</a>
                      </li>
                      <li class="">
                        <a href="/admin/habitat">habitat</a>
                      </li>
                      <li class="">
                        <a href="/admin/animaux">animaux</a>
                      </li>
                      <li class="is-active">
                        <a href="/">Page d'accueil</a>
                      </li>
                    </ul>
                  </div>
                </nav>
            </div>
        </div>
</section>