<!-- logo/menu/page d'acceuil -->
  <nav class="navbar is-primary " role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
      <img src="img_zoo/p.acc/logo.jpg" alt="logo"  style="max-height: 50px" class="py-2 px-2" >
        </a>
    
        <a role="button" class="navbar-burger"  id='burger' aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a  href="/"  class="navbar-item">
            Page d'acceuil
          </a>
          <a  href="/service" class="navbar-item">
            Nos services
          </a>
          <a href="/habitat" class="navbar-item">
              Habitats
          </a>
          </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/connexion" class="button is-primary">
                <strong>Connexion</strong>
              </a>
              <a href="/contact" class="button is-light">
                Contact
              </a>
            </div>
          </div>
        </div>
      </div>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
  </nav>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 